development:
  POSTGRES_USER_DEVELOPMENT: XXX
  POSTGRES_PASSWORD_DEVELOPMENT: XXX

test:
  POSTGRES_USER: XXX
  POSTGRES_PASSWORD: XXX

production:
  POSTGRES_USER_PRODUCTION: XXX
  POSTGRES_PASSWORD_PRODUCTION: XXX
